/* background */
body {
	height: 100%;
	background: url("../img/Shadow.jpg") no-repeat center center;
	background-size: cover;
	margin: 0;
}
.bgheader {
	background: rgba(255, 255, 255, 0.30);
}
.bgedu {
	background: rgba(255, 255, 255, 0.40);
}


}


/* margins */
h1, h2, h3, p {
	margin-left: 10px;
}
/* Headding */
header h1 {
	font-size: 30px;
	font-family: Kite One;
	color: #1A6BFF;
}
header h3 {
	font-size: 40px
}

/* navigation list */

nav li {
	float: left;
	margin: 0px 2px;
}
nav a:link,
nav a:visited{
	padding: 0 20px;
}
nav a :hover,
nav a :active {
}

li {
	list-style: none;
}
/* font */
h2 {
	font-family: Kite One;
}