
body {
	height: 100%;
	background: url("../img/bg.jpg")  center center;
	background-size: cover;
	
	margin: 0;
}

.bgheader {
	background: rgba(255, 255, 255, 0.41);
	border-top: rgba(52, 201, 160, 0.68) 7px double;
	box-shadow: 12px 3px 116px 6px #1c1c1c;
	color: #7e7e7e;

}

.start h1 {
	color: rgba(52, 201, 160, 0.68);
	font-size: 95px;
	padding: 0 0;
	margin: 21px 0px;
 
    font-family: helvetica;

}

.bgarticle {
	background: rgba(255, 255, 255, 0.87);
	box-shadow: 12px 3px 116px 6px #1c1c1c;
}
section p {

    margin-bottom: 50px;

}

.edu p {
	margin-right: 50px;
    margin-left: 30px;

 	
 }

 article ul {
 	padding: 0 30px;
 }
 article li {
 	margin-top: 20px;
 	font-family: helvetica ;
 	font-size: 16px;
 	list-style: none;
 }
 


.edu {
	
 	border-bottom: rgba(52, 201, 160, 0.68) 4px double;
 }


header div h2 {
	line-height: 35px;
}



nav li {
	float: left;
	margin: 0;
	list-style: none;
}

nav a:link,
nav a:visited{
	padding: 20px 20px;
}
nav a:hover,
nav a:active{
	padding: 20px 20px;
}




li {
	list-style: none;
}
/* font */
h4 {
	font-family: helvetica;
	font-size: 14px;
	font-weight: lighter;
	
	margin: 0px 0px
}
p {
	margin-top: 10px;
	line-height: 23px;
	font-family: times ;
	font-size: 16px;
	font-family: georgia;
}
h2 {
	font-family: "Montserrat";
	font-style: bold;
	font-size: 20px;
	color: #7e7e7e;
}
h3 {
	font-size: 17px;
	font-family: "Montserrat";
}
